.card--container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  padding-bottom: 4em;
}

.others--title {
  font-size: clamp(2em, 9vw, 3em);
  font-weight: 400;
  text-align: center;
  margin-top: 2em;
  /* padding: 1em 0 0 0; */
}

.others--card {
  width: 60vh;
  height: 62vh;
  margin: 2em 0 5em 0;
}

.card--image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card--name {
  text-align: center;
  margin: 0.5em 0 0.5em 0;
  font-size: 1.5em;
  font-weight: 300;
}
